<h1>Burgers!</h1>


<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            "MMM Burgers waiting to be eaten!"
            <ul>
                {{#each burgers}}
                {{#unless this.devoured}}
                <p>{{this.burger_name}} <button type="submit" class="devour btn btn-primary" data-id="{{id}}">Devour!</button></p>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-md-6">
            "eaten burgers"
            <ul>
                {{#each burgers}}
                {{#if this.devoured}}
                <p>{{this.burger_name}}</p>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<div class="container ">
    <div class="form-group">
        <label for="label ca">Burger Name:</label>
            <input type="Burger" class="form-control" id="Type your burger here!">
            <button type="submit">Add Burger</button>
        </form>
    </div>
</div>